<% include ../partials/header %>

<div class="container">
		<h1><%= user.firstName + " " + user.lastName %></h1>
		<div class="thumbnail">
			<img src="<%= user.avatar %>" alt="user profile image">
		</div>
		<%if(user.description == null) { %>
			Tell us a bit about yourself
		<% } else { %>
			<%=user.description %>
		<% } %>
	<br>
	<br>
	<% if(currentUser && (user.id == currentUser._id)){ %>
       <a class="btn btn-xs btn-warning" href="<%= user._id %>/edit">Edit Profile</a>
	<% } %>
		<h3><%= user.username %>'s campgrounds:</h3>
		<ul>
		<% campgrounds.forEach(function(campground) { %>
			<li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
		<% }); %>
		</ul>
</div>

<% include ../partials/footer %>